<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SimpleLogger"   type="AimHealth.Safari.Logging.SimpleLogger, AIMHealth.Safari.Logging"  />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aim.Excel.Importer.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <SimpleLogger
    />
    <connectionStrings>
        <add name="Aim.Excel.Importer.Presentation.Properties.Settings.SafariConnection"
            connectionString="Data Source=AIMDB02;Initial Catalog=Safari;Integrated Security=True;Connect Timeout=120"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Aim.Excel.Importer.Presentation.Properties.Settings>
            <setting name="LogLocation" serializeAs="String">
                <value>C:\safnet\logs</value>
            </setting>
            <setting name="SecurityPayerFeeBatchCreate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DbItOpsFinancial</string>
                        <string>IT-QA</string>
                        <string>SafariRecovery</string>
                        <string>SafariPayerFeeBatchCreate</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Aim.Excel.Importer.Presentation.Properties.Settings>
    </applicationSettings>
</configuration>